@model NetPracticeCore.Models.Pais

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pais</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            @Html.HiddenFor(model => model.Id)

            <div>
            <label>Nombre</label>
            <input asp-for="Nombre" />
             </div>

            <div>
                <label>Fecha Fundación</label>
                <input asp-for="FechaFundacion" type="date" />
            </div>

            <div>
                <label>Confederación</label>
                <select asp-for="ConfederacionId">
                    <option value="">-- Seleccionar --</option>
                    @foreach (var c in ViewBag.Confederaciones)
                    {
                        <option value="@c.Id" selected="@(c.Id == Model.ConfederacionId)">
                            @c.Nombre
                        </option>
                    }
                </select>
            </div>

            <div>
                <label>Deporte</label>
                <select asp-for="DeporteId">
                    <option value="">-- Seleccionar --</option>
                    @foreach (var d in ViewBag.Deportes)
                    {
                        <option value="@d.Id" selected="@(d.Id == Model.DeporteId)">
                            @d.Nombre
                        </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Manage">Back to List</a>
</div>

